django~=4.2
django-tagging
django-reversion
django-bootstrap3
django-summernote
django-modeltranslation
django-registration
django-contrib-comments
django-queryset-csv
django-debug-toolbar
django-guardian
django-notifications-hq
dj-database-url
boto3
django-storages
psycopg2==2.8.6
certifi==2023.7.22
urllib3==1.26.18
sentry-sdk==1.14.0
gunicorn==22.0.0
whitenoise==6.2.0
