{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load comments %}

{# Tabs nav bar #}
<ul class="nav nav-tabs" role="tablist" xmlns="http://www.w3.org/1999/html">
    <li class="active"><a href="#revision_history_history_tab" role="tab" data-toggle="tab">Changes</a></li>
    <li><a href="#revision_history_comments_tab" role="tab" data-toggle="tab">Comments</a></li>
    <li><a href="#revision_history_validation_results_tab" role="tab" data-toggle="tab">Validation Results</a></li>
</ul>

{# Tabs wrapper #}
<div class="tab-content">

    {# Tab: Revision History #}
    <div class="tab-pane active" id="revision_history_history_tab">
        <table class='table table-condensed'>
            <tr>
                <th>{% blocktrans %}Created:{% endblocktrans %}</th>
                <td id='created'>{% if gloss.created_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.created_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.created_by.username }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% blocktrans %}Updated:{% endblocktrans %}</th>
                <td id='updated'>{% if gloss.updated_at %}
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.updated_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.updated_by.username }}
                    {% if request.user.is_staff %}

                    <hr style="border-top-color:#C0C0C0;margin-bottom:10px;">

                    <div>
                    <h4>{% blocktrans %}Change history for{% endblocktrans %} <strong>{{gloss}}</strong></h4>
                    </div>
                    <div>
                    <table class='table table-condensed'>
                        <tr>
                            <th>{% blocktrans %}User{% endblocktrans %}</th>
                            <th>{% blocktrans %}Time{% endblocktrans %}</th>
                            <th>{% blocktrans %}Field{% endblocktrans %}</th>
                            <th>{% blocktrans %}Old value{% endblocktrans %}</th>
                            <th>{% blocktrans %}New value{% endblocktrans %}</th>
                        </tr>
                        {% for revision_username,revision_time,revision_field_verbosename,revision_old,revision_new in revisions %}
                        <tr>
                            {# User #}
                            <td>
                                {{ revision_username }}
                            </td>
                            {# Time - format: June 22, 2022, 4:06 p.m. #}
                            <td>
                                {{ revision_time|date:'F j, Y, g:i a' }}
                            </td>
                            {# Field (verbose name) #}
                            <td>
                                {{ revision_field_verbosename }}
                            </td>
                            {# Old value #}
                            <td>
                                {{ revision_old }}
                            </td>
                            {# New value #}
                            <td>
                                {{ revision_new }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                    {% endif %} {# if request.user.is_staff #}
                    {% endif %} {# if gloss.updated_at #}
                </td>
            </tr>
        </table>
    </div>
    {# Tab: Revision History #}

    {# Tab: Comments #}
    <div class="tab-pane" id="revision_history_comments_tab">
        {% get_comment_count for gloss as comment_count %}
        <div id="gloss-comments">
            <h4>{% blocktrans %}Comments{% endblocktrans %} ({{comment_count}})</h4>
            <div class="well well-md">
            {% render_comment_list for gloss %}
            </div>
        </div>
    </div>
    {# Tab: Comments #}

  {# Tab: Validation Results #}
    <div class="tab-pane" id="revision_history_validation_results_tab">
      <div class="panel panel-info top-margin">
        <!-- Default panel contents -->
        <div class="panel-heading">Aggregated validation results from NZSL Share and Qualtrics</div>
        <div class="panel-body">
          <!-- Table -->
          <table class="table">
          <thead>
            <td></td>
            <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></td>
          </thead>
          <tbody>
            {% if share_validation_aggregation %}
              <tr>
                <td>{% blocktrans %}NZSL Share{% endblocktrans %}</td>
                <td>{{ share_validation_aggregation.agrees }}</td>
                <td>{{ share_validation_aggregation.disagrees }}</td>
                <td>-</td>
              </tr>
            {% endif %}
            <tr>
              <td>{% blocktrans %}Qualtrics{% endblocktrans %}</td>
              <td>{{ sign_seen_yes }}</td>
              <td>{{ sign_seen_no }}</td>
              <td>{{ sign_seen_maybe }}</td>
            </tr>
            {% if share_validation_aggregation %}
              <tr>
                <td>{% blocktrans %}Total{% endblocktrans %}</td>
                <td>{{ sign_seen_yes|add:share_validation_aggregation.agrees }}</td>
                <td>{{ sign_seen_no|add:share_validation_aggregation.disagrees }}</td>
                <td>{{ sign_seen_maybe }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        </div>
      </div>
        {#    Qualtrics validation records#}
        <div>
          <h4>
            {% blocktrans %}Validation records{% endblocktrans %} ({{validation_records|length}})
            {% if validation_records|length > 0 %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#validation-records" aria-expanded="false" aria-controls="validation-records"></span>
            {% endif %}
          </h4>
          <div class="collapse" id="validation-records">
            <dl class="well well-md">
              {% for record in validation_records %}
                <dt {% if not forloop.first %}class="top-margin"{% endif %} id="vr_{{ record.id }}">
                  {% if record.sign_seen == "yes" %}
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                {% elif record.sign_seen == "no" %}
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                {% endif %}
                  &nbsp;{{ record.respondent_first_name }} {{ record.respondent_last_name }}
                  <span class="normal-font">(ResponseId: {{ record.response_id }})</span>
                </dt>
                <dd>
                  {% if record.comment %}
                    <div>
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;{{ record.comment }}
                    </div>
                  {% endif %}
                </dd>
              {% endfor %}
            </dl>
          </div>
        </div>
        {#    NZSL Share comments#}
        <div>
            <h4>
              {% blocktrans %}NZSL Share Comments{% endblocktrans %} ({{share_comments|length}})
              {% if share_comments|length > 0 %}
                &nbsp;<span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#share-comments" aria-expanded="false" aria-controls="share-comments" aria-hidden="true"></span>
              {% endif %}
            </h4>
            <div id="share-comments" class="collapse">
              {# snippet copied from the django-comments list template #}
              <dl class="well well-md">
                {% for comment in share_comments %}
                  <dt {% if not forloop.first %}class="top-margin"{% endif %} id="c{{ comment.id }}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    &nbsp;{{ comment.user_name }}
                  </dt>
                  <dd>
                    <p>{{ comment.comment }}</p>
                  </dd>
                {% endfor %}
              </dl>
            </div>
        </div>
    </div> {# Tab: Comments #}

</div> {# Tabs wrapper #}
